body{
    background-image: url("image/背景.jpg");
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#global-nav{
    width: 100%;
    background-color: slateblue;
    padding: 10px;
}
#global-nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#global-nav a{
    color: black;
    margin: left 10px;
    padding: 10px;
    text-decoration: none;
}
#global-nav a:hover{
    border-radius: 20px;
    background-color: greenyellow;
}
.itemdiv{
    text-align: center;
    font-size: 20px;
}
.fromimg {
    text-align: center;
    
}
.picture{
    height: 500px;
}
.soccer{
    height: 350px;
}
.mascot{
    
    height: 250px;
}


